// text color
$default-text-color: #333333;

$headers-margin: 10px;

$default-link-color: #007bff;
$default-link-color-h: #004a99;

$default-title-color: #333333;
$default-paragraph-color: #525252;

// font family
$default-font-family: 'Rubik',
'Roboto',
sans-serif;

// body color
$default-body-color: #fdfdfd;